<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">

    <meta name="description" content="Universitary notes, exams, teaching materials archive.">
    <meta name="keywords" content="UNITN, DISI, Computer science, notes, exams, ">

    <meta name="author" content="Roberto Bampi - bampi.roberto@gmail.com">
    <meta name="author" content="Martin Brugnara - martin.brugnara@gmail.com">
    <meta name="author" content="Gianluca Bortoli - giallogiallo93@gmail.com">
    <meta name="author" content="Marco Dalla G - dallamarco93@gmail.com">

    <title>{{ block "title" . }}Social Notes{{ end }}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">

    {{block "head" .}}{{ end }}
  </head>
  <body>
    <nav>
      <div class="container">
        <ul>
          <li class="brand"><a href="/" target="_self">Social Notes</a></li>
          <li>
            <form id="search_form" action="/search" method="GET" target="_self" autocomplete="off">
              <input id="search_input" type="search" name="query" class="search with-ico" placeholder="Search">
                <button type="submit" class="no-style with-ico">
                  <i class="fa fa-search">&nbsp;</i>
                </button>
            </form>
          </li>
          <li><a href="/files/" target="_self" class="button"><i class="fa fa-files-o">&nbsp;</i>Files root</a></li>
        </ul>
      </div>
    </nav>

    {{ block "body" . }}{{ end }}

    <footer>
      <p>
      The credits for all the hosted files (notes, slides, exams, <em>etc.</em>) belong to respective original copyright holder.<br>
      Platform source code is licensed under <a href="https://github.com/socialnotes/mirror/blob/master/LICENSE.md" target="_blank">MIT</a>.
      </p>

      {{ block "footer" . }}{{ end }}

    </footer>

    {{ block "foot_js" . }}{{ end }}
  </body>
</html>
