<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Confirmation successful</title>

    <style type="text/css">
      body {
        padding: 30px 10px 0 10px;
        font-family: "Helvetica Neue", "Helvetica", "Calibri", "Verdana";
      }

      @media only screen and (max-width: 767px) {table {width: 100%;}}

      a, a:hover, a:visited {
        color: #1EAEDB;
        text-decoration: none;
      }

    </style>
  </head>
  <body>
    {{ if gt .Confirmed 0 }}
    <h1>Thank you {{ .Email }}</h1>
    <p>You successfully confirmed {{ .Confirmed }} files.</p>
    {{ else }}
    <h1>No files to confirm.</h1>
    {{ end }}
    Go <a href="/">home</a>.
  </body>
</html>
