<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Index of {{ .Path }}</title>
    {{ template "head" . }}
    <link rel="stylesheet" type="text/css" href="/static/css/list.css">
  </head>
  <body>
    {{ template "nav" . }}

    <section name="list" class="container">
      <table>
        <caption>Index of <small>{{ .Path }}</small></caption>
        <thead>
          <tr>
            <th>Path</th>
            <th>Last Modified</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Directories }}
          <tr>
            <td><a href="{{ . }}/" target="_self">{{ . }}/</a></td>
            <td class="dash"></td>
            <td class="dash"></td>
          </tr>
          {{ end }}
          {{ range .Files }}
          <tr>
            <td><a href="{{ .Name }}" target="_blank">{{ .Name }}</a></td>
            <td>{{ .ModTime.Format "2006-01-02 15:04 MST" }}</td>
            <td>{{ humanizeBytes .Size }}</td>
          </tr>
          {{ end }}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <form id="upload" action="/upload{{ .Path }}" method="POST" enctype="multipart/form-data">
                Uploading a file into this directory.  <a href="#" id="close"><i class="fa fa-times">&nbsp;</i></a><br>
                <input id="email" name="email" type="text" pattern="^[a-zA-Z0-9.!#$%&’*+\/=?^_`{|}~-]+@(?:[a-zA-Z0-9-]+\.)*unitn\.(?:it|eu)$" placeholder="you@studenti.unitn.it" size="40" required><br>
                <input type="checkbox" name="tos" value="1" required>&nbsp;Accept <a href="/tos.html" target="_blank">Terms Of Service</a><br>
                <input type="file" name="document" required>
                <!--<input type="file" name="document" multiple="multiple" required>-->
                <button type="submit" class="button-primary"><i class="fa fa-upload">&nbsp;</i>Upload</button>
              </form>
              <span>Upload a new file <a href="#upload">in this directory&nbsp;<i class="fa fa-chevron-down">&nbsp;</i></a></span>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>

    <footer>
      <p>According to our <a href="/tos.html" target="_blank">Terms Of Service</a> you have the right to ask for the removal of Copyrighted content owned by you or your company.<br>
      If you really do not want to share your work with the other students of this website send an email to
      <a href="mailto:complaints@socialnotes.eu?subject=Takedown%20Request">complaints@socialnotes.eu</a>
      reporting the links for the file you want to be taken down.</p>

      <br>

      {{ template "credits" . }}
    </footer>
  </body>
</html>
