<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Upload successful</title>

    <style type="text/css">
      body {
        padding: 30px 10px 0 10px;
        font-family: "Helvetica Neue", "Helvetica", "Calibri", "Verdana";
      }

      @media only screen and (max-width: 767px) {table {width: 100%;}}
    </style>
  </head>
  <body>
    <h1>Thank you {{ .Email }}</h1>
    <p>Your upload of <strong>{{ .Filename }}</strong> was completed successfully.</p>
    <p>Go <a href="/">home</a> or go to <a href="{{ .Path }}">{{ .Path }}</a></p>
  </body>
</html>
